%h1 Login
= form_tag session_path, :method => :post do

    = label_tag :email
    = text_field_tag :email

    = label_tag :password
    = password_field_tag :password

    = submit_tag "Log in"

%br
%br
%a{:href => "http://triangleflyfishers.org/Reservations/clearwater_release.html"}
    Release Form
%br
%a{:href => "http://triangleflyfishers.org/Reservations/clearwater_catch_rules.html"}
    Catch and Release Rules
%br
%a{:href => "http://triangleflyfishers.org/Reservations/clearwater_directions.html"}
    Directions to Clearwater


