%h1 Seasons


= div_for(@seasons) do |season|
  #{season.year}: #{season.start_date.strftime('%b \'%y')} - #{season.end_date.strftime('%b \'%y')}
  =link_to "Show", admin_season_path(season)
  -if season.id == current_season.id
    [CURRENT]
  -else
    =link_to "Delete", admin_season_path(season), 
              method: :delete,
              data: {confirm: "Deleting Season #{season.year} -- are you sure?"},
              id: "delete_#{season.id}"
    Set as Current

%br
=link_to "Add New Season", new_admin_season_path
%br
=link_to "Admin Home", admin_path
