%h1 Seasons

%p
  =link_to "Add New Season", new_admin_season_path
  %br
  =link_to "Admin Home", admin_path


%table.adminseasons
  %tbody
  = div_for(@seasons) do |season|
    %tr
      %td #{season.year}: #{season.start_date.strftime('%b \'%y')} - #{season.end_date.strftime('%b \'%y')}
      %td.link= link_to "Show", admin_season_path(season)
      -if current_season() && season.id == current_season().id
        %td.current(colspan="2") [CURRENT]
      -else
        %td.link= link_to "Delete", admin_season_path(season), 
                  method: :delete,
                  data: {confirm: "Deleting Season #{season.year} -- are you sure?"},
                  id: "delete_#{season.id}"
        %td.link= link_to "Set as Current", admin_season_path(season),
                  method: :put,
                  id: "put_#{season.id}"

%p
  Deleting a season removes all dates, reservations, and users for that season.
  %br
  If a user is associated with another season, that info will not be deleted.
  %br
  The current season cannot be deleted.  

