%tr
  %td.date= fish_date.day.strftime("%b %-d, %Y (%A)")
  %td.slots= fish_date.slot_limit
  %td.slots.used= fish_date.slots.count
  %td.link= link_to "Change Slot Limit", edit_admin_fish_date_path(fish_date)
  %td.link= link_to "Delete", admin_fish_date_path(fish_date), 
              method: :delete,
              data: {confirm: "Deleting #{fish_date.day.to_s} -- are you sure?"},
              id: "delete_#{fish_date.id}"

