%h2  User Info

%p
  Name: 
  = @user.name || "No name given."

%p
  Email: #{@user.email}
%p
  Phone: 
  = @user.phone || "No phone given."
%p
  Slots purchased: #{@user.purchased}
%p
  Slots reserved: #{@num_slots}
%p
  = button_to "Edit Profile", edit_user_path(@user), method: :get

%hr

%h2 Your Reservations

= render partial: 'shared/slot_list', 
  locals: { slots: @slots, limit: @user.purchased, show: :date }

%p
  = link_to "Make Reservation", new_user_reservation_path(@user)

