%h2  User Info

.profile
  .name
    - if @user.fullname != (nil || '')
      = @user.fullname
    - else
      %span.missing
        No name given
  .email
    = @user.email
  .purchased
    Slots purchased: #{@user.purchased}
  .phone
    - if @user.phone != (nil || '')
      = @user.phone 
    - else
      %span.missing
        No phone given
  .reserved
    Slots reserved: #{@num_slots}

- if @user.fullname == (nil || '') || @user.phone == (nil || '')
  .request
    %span.missing 
      * Please provide name and phone number.
.edit
  = button_to "Edit Profile", edit_user_path(@user), method: :get

%hr

%h2 Reservations

= render partial: 'shared/user_slot_list', 
  locals: { slots: @slots, limit: @user.purchased }

- if @user.available > 0 && !@user.admin
  %p
    = link_to "Make Reservation", new_user_reservation_path(@user)

