
%h2 Choose a user:

= form_tag admin_date_reservations_path(@date), method: :post do

  = radio_button_tag "user", "admin", true
  Admin (does not reduce any user's slots)
  %br/
  %br/

  - @users.each do |user|
    - if !user.fully_booked? 
      = radio_button_tag 'user', user.id
      #{user.name} -- Available slots: #{user.available}
      %br/

  %p
    = label_tag :num_slots, "Number of Slots"
    = text_field_tag :num_slots
  %p
    = submit_tag "Submit"


