%tr
  %td.name= user.fullname
  %td.email= user.email
  %td.phone= user.phone
  -if !user.admin?
    %td.slots= user.purchased
    - if user.used < user.purchased
      %td.slots.used= user.used
    -else
      %td.slots.used.full= user.used
  %td.link= link_to "Edit", edit_admin_user_path(user)
  - if !user.admin?
    %td.link= link_to "Show", user_path(user)
  - if user.admin || in_current
    %td.link= link_to "Delete", admin_user_path(user), 
              method: :delete,
              data: {confirm: "Deleting #{user.email} -- are you sure?"},
              id: "delete_#{user.id}"
  - if !user.admin && !in_current
    %td.link= link_to "Copy to Current", copy_admin_user_path(user)

