!!!
%html
  %head
    %title TFF Clearwater Reservations
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head
  %body
    = image_tag "TFF_Logo_green.jpg", height: 50
    = button_to 'Logout', session_path, method: :delete
    <br />
    - flash.each do | name, msg |
      = content_tag :div, msg, class: name

    = yield
